<!DOCTYPE html>
<html lang="en">
<html>
 <title>Online Shopping: Digi Store</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">Logo</a>
    </nav>
<div class="panel panel-success" style="margin-top:10%">
  <div class="panel-heading"><b>Verification Completed Successfully</b></div>
  <div class="panel-body" style="height:140px"><p><b>Your Email verified successfully. <span class="glyphicon glyphicon-ok" Style="color:#00cc00"></span> </b></p>
  <p>Enjoy Shopping. </p><p><button><a href="login"><b>Login Here</b></a> </button></p></div>
</div>
<hr style="border-width:5px">
<div class="w3-white w3-center w3-padding-24">Powered by <a href="#" title="Intech" target="_blank" class="w3-hover-opacity">Intech | copyright &copy; 2018, Intech Olympiad</a></div>

  <!-- End page content -->
</div>
</body>
</html>
